<div id="footer">
	<div id="social">
		<ul>
			<li class="link-facebook"><a href="https://www.facebook.com/" target="_blank"></a></li>
			<li class="link-twitter"><a href="https://twitter.com/" target="_blank"></a></li>
			<li class="link-instagram"><a href="http://instagram.com/" target="_blank"></a></li>
			<li class="link-pinterest"><a href="http://pinterest.com/" target="_blank"></a></li>
			<li class="link-tumblr"><a href="http://tumblr.com/"></a></li>
		</ul>
	</div>
	<div id="address">
		<p>(860) 618-5411 | 79 Center St, Torrington, CT 06790</p>
	</div>	
</div>