<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="page{{ title | camelize }}">
	<div id="wrap">
		<div id="site-content">
			{% include header.html %}
			<div id="main-content">
				{{ content }}
				<div id="hp-slideshow">
					{% for image in page.images %}
						{{ forloop.index }}-{{ image }}
					{% endfor %}
					{{ content }}
				</div>
			</div>	
			<!-- End main-content -->	
			{% include footer.html %}
		</div>
		<!-- End site-content -->
	</div>
	<!-- End wrap -->
</body>
</html>	
				